@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@900&display=swap');

*{
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*background: ...;*/

}
.search{
    position:relative;
    width:60px;
    height:60px;
    border-radius: 60px;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, .5);
    transition:.5s;
    overflow: hidden;
}
.search .button i:first-child{
    display: block;
}
.search .button i:last-child{
    display: none;
}

.search.active{
    width:360px;
}
.search.active .button i:first-child{
    display: none;
}
.search.active .button i:last-child{
    display: block;
}

.button{
    position: absolute;
    top:0;
    left:0;
    width: 60px;
    height: 60px;
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;;
}

.button i{
    font-size: 24px;
}

.clear{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    width: 15px;
    height: 15px;
    right: 15px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clear i{
    font-size:16px;
    color:#999;
}

.input{
    position:relative;
    width: 300px;
    height: 60px;
    left: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input input{
    position: absolute;
    top:0;
    width: 100%;
    height: 100%;
    border:none;
    outline: none;
    font-size: 18px;
}

.watch{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width:600px;
    height:200px;
    margin-top:50px;
    background:transparent;
    border-radius: 3px;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, .5);
    font-family: 'Poppins', sans-serif;
}

.watch div{
    display: flex;
    flex-direction: column;
    width: 120px;
    height: 150px;
    align-items: center;
    justify-content: center;
    /*color:#fff;*/
    /*background:rgba(5, 5, 5, .9);*/
    /*color:#000;*/
    /*background:rgba(250, 250, 250, .9);*/
    box-shadow: rgba(0, 0, 0, .7);
    border-radius: 7px;
    letter-spacing: 3px;    
}

.watch span{
    font-size: 55px;
}

.watch .label{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}
